.lead__caption {
    margin: 0;
    padding-top: 8px;
    align-self: start;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 816px) {
    .lead__caption {
        padding-left: calc(100% - (100vw - 24px));
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 16px;
    }
}
